@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background: #161513;
  color: white;
  font-family: 'Kalam';
   width: 100%;
  overflow-x: hidden; 
}